.main-content
  .container
    .row
      .col-lg-4.manual-navigation.visible-lg
        .sticky(data-sticky-offset="20" data-navigation-source="#manual")
      .col-lg-8#manual.manual-container
        = partial 'manual/master.html.erb'
