.main-content
  .container
    .row
      %noscript
        %p.alert.alert-warning
          %strong Enable JavaScript
          you fucking autist neckbeard, it's not gonna hurt you...
      .col-lg-4.manual-navigation.visible-lg
        .sticky(data-sticky-offset="20" data-navigation-source="#manual")
      .col-lg-8#manual.manual-container
        = partial 'manual/master.html.erb'
