%h2 Overview

%p
  mpv is a fork of mplayer2 and MPlayer. It shares some features with
  the former projects while introducing many more.

.row
  .col-md-6
    %h4
      %i.fa.fa-terminal
      Streamlined CLI options
    %p
      MPlayer's options parser was improved to behave more like other CLI
      programs, and many option names and semantics were reworked to make
      them more intuitive and memorable.

  .col-md-6
    %h4
      %i.fa.fa-play
      On Screen Controller
    %p
      While mpv has no official GUI, it has a small controller
      that is triggered by mouse movement.

.row
  .col-md-6
    %h4
      %i.fa.fa-eye
      High quality video output
    %p
      mpv has a OpenGL based video output that is capable of many features
      loved by videophiles, such as video scaling with popular high quality
      algorithms, color management, and more.

  .col-md-6
    %h4
      %i.fa.fa-tachometer
      GPU video decoding

    %p
      mpv leverages the FFmpeg hwaccel APIs to support VDPAU, VAAPI, DXVA2, VDA
      and VideoToolbox video decode acceleration.

.row
  .col-md-6
    %h4
      %i.fa.fa-wrench
      Active development
    %p
      mpv is under active development, focusing on code refactoring and
      cleanups as well as adding features. Want a feature?
      %a(href="https://github.com/mpv-player/mpv/issues" target="_blank")
        Post a patch or request it!

  //.col-md-6
  //  %h4
  //    %i.fa.fa-rocket
  //    Sky is the limit!
  //  %p
  //    mpv is packed with way more good stuff than we can fit on this page.
  //    %a(href="/features") Check out the other features!
