%h2 Overview

%p
  mpv is a free (as in freedom) media player for the command line. It supports
  a wide variety of media file formats, audio and video codecs, and subtitle types.

.row
  .col-md-6
    %h4
      %i.fa.fa-terminal
      Scripting
    %p
      Powerful scripting capabilities can make the player do almost anything. There is
      a large selection of
      = succeed('.') do
        %a(href="https://github.com/mpv-player/mpv/wiki/User-Scripts")user scripts on the wiki

  .col-md-6
    %h4
      %i.fa.fa-play
      On Screen Controller
    %p
      While mpv strives for minimalism and provides no real GUI, it has a small controller on top of the video
      for basic control.

.row
  .col-md-6
    %h4
      %i.fa.fa-eye
      High quality video output
    %p
      mpv has an OpenGL, Vulkan, and D3D11 based video output that is capable of many features
      loved by videophiles, such as video scaling with popular high quality
      algorithms, color management, frame timing, interpolation, HDR, and more.

  .col-md-6
    %h4
      %i.fa.fa-tachometer
      GPU video decoding

    %p
      mpv can leverage most hardware decoding APIs on all platforms. Hardware
      decoding can be enabled at runtime on demand.

.row
  .col-md-6
    %h4
      %i.fa.fa-cubes
      Embeddable
    %p
      A straightforward
      %a(href="https://github.com/mpv-player/mpv/blob/master/libmpv/client.h")C API
      was designed from the ground up to make mpv usable as a library and
      facilitate easy integration into other applications.

  .col-md-6
    %h4
      %i.fa.fa-wrench
      Active development
    %p
      mpv is under active development, focusing on code refactoring and
      cleanups as well as adding features. Want a feature?
      %a(href="https://github.com/mpv-player/mpv/issues" target="_blank")
        Post a patch or request it!

  //.col-md-6
  //  %h4
  //    %i.fa.fa-rocket
  //    Sky is the limit!
  //  %p
  //    mpv is packed with way more good stuff than we can fit on this page.
  //    %a(href="/features") Check out the other features!
