---
title: Community
---

.main-content
  .container
    %h1
      %i.fa.fa-comments
      Community
      %small and contacts

    %p
      There are several ways by which you can engage with the mpv community
      of users and developers. Here's the complete list:

    %table.table.table-condensed
      %tr
        %td(colspan="3")
          %h3
            %i.fa.fa-terminal
            Internet Relay Chat

          %p
            This is the preferred way to discuss mpv use and development. Never ask to
            ask - just state your question. Stick around until someone replies.


      %tr
        %td Users channel
        %td(colspan="2")
          = link_to '#mpv on irc.freenode.net', 'irc://irc.freenode.net/mpv'

      %tr
        %td
          Development channel
          %small (no fun allowed)
        %td(colspan="2")
          = link_to '#mpv-devel on irc.freenode.net', 'irc://irc.freenode.net/mpv-devel'

      %tr
        %td(colspan="3")
          %h3
            %i.fa.fa-bug
            GitHub issue tracker

          %p
            This is the preferred way to report bugs.

      %tr
        %td Issue tracker
        %td(colspan="2")
          = link_to 'https://github.com/mpv-player/mpv/issues', 'https://github.com/mpv-player/mpv/issues'
