.jumbotron
  .container
    %h1
      = image_tag "mpv-logo-128.png", width: "45", height: "45"
      mpv
    %p the best video player to watch chinese cartoons
    .screenshot
      %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "340", :src => "https://www.youtube.com/embed/5PNBWWEn-lY", :width => "100%"}

.main-content
  .container
    = partial :overview

.next-steps
  .container
    %h2 Here are a few places you may want to go next...
    %hr
    .row
      .col-xs-6
        = link_to installation_path, class: "composite" do
          %i.fa.fa-cloud-download.big-circle
          %h3 Installation
      // .col-xs-6
      //   = link_to getting_started_path, class: "composite" do
      //     %i.fa.fa-book.big-circle
      //     %h3 Getting started guide
      .col-xs-6
        = link_to github_path, class: "composite" do
          %i.fa.fa-github.big-circle
          %h3 Source Code Repository
