---
title: Reference manual
---

.main-content
  .container
    %h1
      %i.fa.fa-book
      Reference Manual

    %p
      The reference manual lists all the options and configuration options mpv
      understands, key bindings, scripting, and other customizations.

    %table.table.table-condensed
      %tr
        %td(colspan="2")
          %h3
            Git master

      %tr
        %td PDF-rendering (might be out of date by some days)
        %td(colspan="2")
          = link_to 'PDF', 'http://mpv.srsfckn.biz/manual.pdf'

      %tr
        %td Github-rendering (often somewhat broken)
        %td(colspan="2")
          = link_to 'PDF', 'https://github.com/mpv-player/mpv/tree/master/DOCS/man'
