---
title: Reference manual
---

.main-content
  .container
    %h1
      %i.fa.fa-book
      Reference Manual

    %p
      The reference manual lists all the options and configuration options mpv
      understands, key bindings, scripting, and other customizations.

    %table.table.table-condensed
      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-code-fork
            Git master

      %tr
        %td HTML-rendering (updated daily)
        %td(colspan="2")
          = link_to manual_master_path do
            %i.fa.fa-file-code-o
            HTML

      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-floppy-o
            Stable release

      %tr
        %td HTML-rendering (updated daily)
        %td(colspan="2")
          = link_to manual_stable_path do
            %i.fa.fa-file-code-o
            HTML

      %tr
        %td PDF-rendering
        %td(colspan="2")
          = link_to 'https://mpv.srsfckn.biz/manual.pdf', target: '_blank' do
            %i.fa.fa-file-pdf-o
            PDF

      %tr
        %td(colspan="2")
          %h3
            %i.fa.fa-comments
            Wiki

      %tr
        %td Wiki (not much there yet, but may provide some extra information)
        %td(colspan="2")
          = link_to 'https://github.com/mpv-player/mpv/wiki' do
            %i.fa.fa-comments
            Wiki
